body{
  --culoare_text:#1E7145;
  --culoare_border: #275316;
  --culoare_highlight: #197070;
  --culoare_background: #B3D7E3;
  --culoare-text-selectat: rgb(91, 230, 91);
  --spatiere: 100px;
  padding-left: var(--spatiere);
  padding-right: var(--spatiere);
  
}

#link-top{
  position:fixed;
  bottom:0.3em;
  opacity:0.5;
  left:0.3em;
  width:3rem;
  box-sizing: border-box;
  height:3rem;
  line-height:3rem;
  text-align:center;
  border:5px dashed var(--culoare_text);
  border-radius:50%;
  text-decoration: none;
  transition: all 0.5s linear;
  box-shadow: 0px 0px 5px 5px black;
}
#link-top:hover{
  opacity:1;
  rotate:45deg;

}
#triunghi{
  vertical-align: top;
  color: var(--culoare_text);
  transform: scale(2,2);
  transition: transform 0.5s linear, rotate 0.5s linear;
}
#link-top:hover>#triunghi{
  rotate:-45deg;

}


#tab-orar {
  border-collapse: collapse;
}

caption {
  caption-side: bottom;
}

#tab-orar th, #tab-orar td{
  border: 1px solid black;
  
}

#tab-orar tbody tr:nth-child(even){
  box-shadow: 0 4px 4px black; 
}

#tab-orar tbody tr:nth-child(odd) {
  box-shadow: 0 4px 4px grey; 
}
#tab-orar tbody tr:nth-child(even) td {
  color: black;
}

#tab-orar tbody tr:nth-child(odd) td {
  color: blue;
}

#tab-orar {
  border-collapse: separate; 
  border-spacing: 2px; 
}

@media screen and (max-width: 600px) {
  #tab-orar {
      border-collapse: collapse; 
  }
}

#tab-orar tbody tr:hover {
  background-color: var(--culoare_background); 
  transition: background-color 0.75s ease; 
}

#tab-orar tbody tr:hover td {
  font-size: 120%; 
  transition: font-size 0.75s ease; 
}

#tab-orar thead tr {
  transition: none; 
}

.containers_orar {
  overflow-x: auto; 
  max-width: 100%; 
}

@media screen and (max-width: 768px) {
  .containers_orar {
    overflow-x: scroll; 
  }
}

.container-iframe{
  display: flex;
  flex-direction: column;
  width:50%;
}
.container-iframe iframe{
  width:100%;

}


.taburi-iframe{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.taburi-iframe>a{
  display: block;
  border: 1px solid var(--culoare_background);
  background-color: var(--culoare_text);
  margin-right: 0.4em;
  padding: 0.6em;
  box-shadow: 0 4px 4px black;
  color: coral;

}

.taburi-iframe>a:last-child{
  margin-bottom: 0;
  
}