    <footer>
        <p id="banner">Acesta e un proiect scolar<button id="ok_cookies">Accepta cookies</button></p>
        <a href="http://www.google.com" target="_blank" class="stil-link">Google</a>
        <p></p>
        <a href="#" title="mergi sus" id="link-top"><div id="triunghi">&#8593</div></a>
		<address>
			Strada Mihai Eminescu nr. 23, Sector 1, București
            <a href="https://www.google.com/maps/place/44.447412959757344, 26.100044524057292" target="_blank" class="stil-link">Deschide pe Google Maps</a>
		</address>
        <p><a href="mailto:airsoft.hq@gmail.com" class="stil-link">Mailul magazinului</a></p>
        <p><a href="tel:+40765468317" class="stil-link">Telefonul clientului</a></p>
        <p><a href="https://wa.me/+40765468317>" class="stil-link">Start Chat</a></p>
        <small>Copyright &copy; <time datetime="05-03-2024">05 Martie 2024</time></small>

    </footer>